<link rel="stylesheet" href="/public/stylesheets/about.css">
<div id="MAIN_NAV">
  <img class="nav_span" onclick="location.href='/'" id="MAIN_NAV_IMG" src="/public/images/KakaoTalk_20210904_025027112.png" alt="">
  <div>
    <span class="nav_span" onclick="location.href='/about'">About</span>
    <span class="nav_span" onclick="location.href='/archive'">Archive</span>
    <span class="nav_span" onclick="location.href='/participants'">Participants</span>
    <span class="nav_span" onclick="location.href='/epilogue'">Epilogue</span>
    </div>
</div>
<div id="about_top_container">
  <div class="wrap">
    <div class="wave"></div>
    <div class="wave layer_1"></div>
    <div class='title'>
      <p>2021 Dongseo University</p>
      <p>Advertising Design</p>
      <p>route. Exhibition</p>
    </div>
  </div>
</div>
<div id="about_content_container">
  <p class="content_title">Advertising Design route</p>
  <p style="margin-top: 40px;" class="content_title_sub">광고의 커뮤니케이션 및 매체 전략에 대한 이해를 기반으로</p>
  <p class="content_title_sub">광고 기획, 창작 및 제작 역량을 균형 있게 겸비한 창의적인 광고 제작자를 양성한다.</p>
  <p class="content_title_sub">광고 분야를 선도할 수 있는 차별화된 교육을 추구하고자 한다.</p>
  <p class="sdgs"><b>S</b>ustainable <b>D</b>evelopment <b>G</b>oal<b>s</b></p>
  <img class="sustainable_img" src="/public/images/esd-title (1).png" alt="">
  <p style="margin-top: 40px; font-size: 32px;" class="content_title_sub">THE 17 GOALS</p>
  <div class="sus_value">
    <div>
      <p>169</p>
      <span>Targets</span>
    </div>
    <div>
      <p>3078</p>
      <span>Events</span>
    </div>
    <div>
      <p>1303</p>
      <span>Publications</span>
    </div>
    <div>
      <p>5448</p>
      <span>Actions</span>
    </div>
  </div>
  <div style="width: 600px; font-family: 'Noto Sans KR', sans-serif; margin-top: 30px;">
    <p>2015년 제 70차 UN총회에서 2030년까지 달성하기로 결의한 의제인 지속가능발전목표(SDGs:Sustainable Development Goals)는 지속가능발전의 이념을 실현하기 위한 인류 공동의 17개 목표입니다. '2030 지속가능발전 의제'라고도 하는 지속가능발전목표(SDGs)는 '단 한 사람도 소외되지 않는 것(Leave no one behind)'이라는 슬로건과 함께 인간, 지구, 번영, 평화, 파트너십이라는 5개 영역에서 인류가 나아가야 할 방향성을 17개 목표와 169개 세부 목표로 제시하고 있습니다.</p>
  </div>
  <div id="about_iconbox">
    <img src="/public/images/iconbox/E_SDG_PRINT-01.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-02.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-03.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-04.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-05.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-06.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-07.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-08.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-09.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-10.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-11.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-12.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-13.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-14.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-15.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-16.jpg" alt="">
    <img src="/public/images/iconbox/E_SDG_PRINT-17.jpg" alt="">
  </div>
  <div id="about_card_container">
    <div>
      <div>
        <img src="/public/images/icon_back/1.jpg" alt="">
      </div>
      <p>NO PROVERTY</p>
      <p class="about_card_second_text">빈곤퇴치</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/2.jpg" alt="">
      </div>
      <p>ZERO HUNGER</p>
      <p class="about_card_second_text">기아종식</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/3.jpg" alt="">
      </div>
      <p>GOOD HEALTH AND WELL-BEING</p>
      <p class="about_card_second_text">건강과 웰빙</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/4.jpg" alt="">
      </div>
      <p>QUAUTY EDUCATION</p>
      <p class="about_card_second_text">양질의 교육</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/5.jpg" alt="">
      </div>
      <p>GENDER EQUALITY</p>
      <p class="about_card_second_text">성평등</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/6.jpg" alt="">
      </div>
      <p>CLEAN WATER AND SANITATION</p>
      <p class="about_card_second_text">깨끗한 물과 위생</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/7.jpg" alt="">
      </div>
      <p>AFFORDABLE AND CLEAN ENERGY</p>
      <p class="about_card_second_text">적정 가격의 깨끗한 에너지</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/8.jpg" alt="">
      </div>
      <p>DECENT WORK AND ECONOMIC GROWTH</p>
      <p class="about_card_second_text">양질의 일자리와 경제성장</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/9.jpg" alt="">
      </div>
      <p>INDUSTRY INNOVATION AND INFRASTRUCTURE</p>
      <p class="about_card_second_text">산업,혁신,사회기반시설</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/10.jpg" alt="">
      </div>
      <p>REDUCED INEQUALITIES</p>
      <p class="about_card_second_text">불평등 감소</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/11.jpg" alt="">
      </div>
      <p>SUSTAINABLE CITIES AND COMMUNUTUES</p>
      <p class="about_card_second_text">지속가능한 도시와 지역사회</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/12.jpg" alt="">
      </div>
      <p>RESPONSIBLE CONSUPTION AND PRODUCTION</p>
      <p class="about_card_second_text">책임있는 소비와 생산</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/13.jpg" alt="">
      </div>
      <p>CLIMATE ACTION</p>
      <p class="about_card_second_text">기후행동</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/14.jpg" alt="">
      </div>
      <p>LIFE BELOW WATER</p>
      <p class="about_card_second_text">수생태계 보전</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/15.jpg" alt="">
      </div>
      <p>LIFE ON LAND</p>
      <p class="about_card_second_text">육상생태계 보전</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/16.jpg" alt="">
      </div>
      <p>PEACE, JUSTICE AND STRONG INSTITUTIONS</p>
      <p class="about_card_second_text">퍙화,정의,강력한 제도</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/17.jpg" alt="">
      </div>
      <p>PARTNERSHIPS FOR THE GOALS</p>
      <p class="about_card_second_text">목표 달성을 위한 파트너십</p>
    </div>
    <div>
      <div>
        <img src="/public/images/icon_back/18.png" alt="">
      </div>
      <p>STARTING BUSINESS</p>
      <p class="about_card_second_text">사업을 계획하고 개발하여 실현</p>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(e){
    document.body.style.overflowY="auto";
  });
</script>