<link rel="stylesheet" href="/public/stylesheets/participants.css">
<link rel="stylesheet" href="/public/stylesheets/archive.css">
<div id="MAIN_NAV">
  <img class="nav_span" onclick="location.href='/'" id="MAIN_NAV_IMG" src="/public/images/KakaoTalk_20210904_025027112.png" alt="">
  <div>
    <span class="nav_span" onclick="location.href='/about'">About</span>
    <span class="nav_span" onclick="location.href='/archive'">Archive</span>
    <span class="nav_span" onclick="location.href='/participants'">Participants</span>
    <span class="nav_span" onclick="location.href='/epilogue'">Epilogue</span>
    </div>
</div>
<!-- <img id="colors2" src="/public/images/colors-2.png" alt=""> -->
<div id="about_top_container">
  <div class="wrap" style="text-align: center; width: 100%; display: flex; flex-direction: row; justify-content: center;">
    <div class="wave" style="left: unset;"></div>
    <div class="wave layer_1" style="left: unset;"></div>
    <div class='title' style="left: 0; width: 100vw;">
      <p style="font-size: 84px; line-height: 86px; font-weight: bold; font-family: 'Poppins', sans-serif;">Archive</p>
      <p style="font-size: 32px !important; line-height: 34px; margin-top: 15px; font-weight: bold;  font-family: 'Poppins', sans-serif;">Sustainable    Design Work</p>
      <p style="font-size: 32px !important; line-height: 34px; margin-top: 10px; letter-spacing: -1.2px;">지속가능한 디자인 작품</p>
      <p style="font-size: 20px !important; letter-spacing: -0.6px; line-height: 28px; margin-top: 20px;">UN SDGs17가지 지속가능한 발전목표를 바탕으로<br>제작된 작품들을 소개한다.</p>
    </div>
  </div>
</div>
<div id="about_second_container">
  <div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(e){
    document.body.style.overflowY="auto";
  });
</script>