<link rel="stylesheet" href="/public/stylesheets/participants.css">
<link rel="stylesheet" href="/public/stylesheets/epilogue.css">
<div id="MAIN_NAV">
  <img class="nav_span" onclick="location.href='/'" id="MAIN_NAV_IMG" src="/public/images/KakaoTalk_20210904_025027112.png" alt="">
  <div>
    <span class="nav_span" onclick="location.href='/about'">About</span>
    <span class="nav_span" onclick="location.href='/archive'">Archive</span>
    <span class="nav_span" onclick="location.href='/participants'">Participants</span>
    <span class="nav_span" onclick="location.href='/epilogue'">Epilogue</span>
    </div>
</div>
<!-- <img id="colors2" src="/public/images/colors-2.png" alt=""> -->
<div id="about_top_container">
  <div class="wrap">
    <div class="wave"></div>
    <div class="wave layer_1"></div>
    <div class='title'>
      <p>Epilogue</p>
      <p style="font-family: 'Noto Sans KR', sans-serif; font-size: 40px;">에필로그</p>
    </div>
  </div>
</div>
<div id="ep_container">
  <div>
    <div class="ep_container_box">
      <div class="ep_container_box1" data-aos="fade-right" data-aos-duration="2000">
        <h2>광고루트 교수 일동</h2>
      </div>
      <div class="ep_container_box2" data-aos="fade-left" data-aos-duration="2000">
        <p>여러분 반갑습니다.</p>
        <p>2021년 광고디자인 루트의 졸업작품전 테마는 ‘SDGs(Sustainable Development Goals) Design’입니다.</p>
        <p>지속가능발전 목표는 인류의 미래를 위해 반드시 달성해야 하는 목표입니다.</p>
        <p>지속가능발전 목표는 2015년 UN 총회가 채택한 의제로, 인류의 지속가능한 발전을 위해 2030년까지 국제사회가 시행해야 할 17개 목표와 169개 세부목표를 담고 있습니다. 빈곤, 기아, 질병, 교육, 성평등, 물, 에너지, 경제, 고용, 불평등, 기후변화, 생물다양성, 사회구조 등 지구적 난제 해결을 목표로 하고 있습니다.</p>
        <p style="margin-top: 30px;">코로나19 사태로 사회 전반의 변화가 가속화하면서 2~3년 뒤의 미래 트렌드도 예측하기 힘든 상황입니다. <br>디자이너는 위기에 처한 세계의 요구에 응해야 하며, 보다 나은 세상을 만드는 일에 적극 참여하여야 합니다. 향후 세대까지 자연 생태계와 자원을 누릴 수 있도록 고려하는 디자인이 우선 되어야 하며, 지구상에 <br>소외되고 고통받는 사람들의 문제점 해결에도 적극 나서야 할 것입니다.</p>
        <p style="margin-top: 30px;">동서대학교는 지난 4월, 국내에서는 8번째로 SDSN(지속가능발전 해법 네트워크, Sustainable Development Solutions Network)의 공식 회원으로 승인받았습니다. SDSN은 세계가 직면하고 있는 경제적, 사회적, 환경적 문제들에 통합적으로 접근하는 것을 장려하며, UN 산하기구-다자간금융기관-민간기업-<br>시민사회와 긴밀하게 협력하기 위해 활동하는 기관입니다.</p>
        <p style="margin-top: 30px;">이번 졸업작품전을 계기로 지구촌의 문제에 관심을 가지고, 다양한 경제적, 사회적, 환경적 문제에 대해 <br>디자인적 접근방법으로 문제를 해결하고 실천 가능한 방안을 모색하며 지역과 세계와 소통하는 계기가 <br>되기를 바랍니다.</p>
        <p style="margin-top: 30px;">지금껏 세계 공통 언어는 영어였다면, 앞으로는 디자인 영역이 세계 공통 언어가 될 것입니다. <br>글로벌을 무대로 활동하는 여러분 한분 한분의 앞날에 무한한 건승과 희망찬 내일이 있기를 바랍니다.</p>
        <p>여러분 파이팅입니다.</p>
      </div>
    </div>
    <div style="width: 100%; border: 0.14px solid #e9e9e9; padding: 0; margin-top: 50px; margin-bottom: 50px;"></div>
    <div class="ep_container_box">
      <div class="ep_container_box1" data-aos="fade-right" data-aos-duration="2000">
        <h2>졸업준비위원회 위원장</h2>
      </div>
      <div class="ep_container_box2" data-aos="fade-left" data-aos-duration="2000">
        <p style="margin-top: 0px;">안녕하십니까 2021 졸업준비위원회 위원장 박찬웅입니다. 졸업작품 전시회를 위해 힘써주신 교수님들과 <br>CA 4학년분들, 그리고 도움을 주신 모든 분들께 감사의 인사를 드립니다.</p>
        <p style="margin-top: 30px;">21년도 Creative Advertising Route는 ‘UN에서 지정한 지속 발전 가능한 목표(SDGs)’와 ‘창업(Start-Up)’을 테마로 졸업전시회를 준비했습니다. 앞으로는 단순히 시각적으로 예쁜 디자인만 필요한 것이 아닌 <br>사회를 생각할 수 있는 책임감 있는 디자인들을 필요로 할 것이라는 트렌드에 맞춰 4년 동안 배운 역량들을 <br>졸업 작품 전시회에 펼쳐보았습니다.</p>
        <p style="margin-top: 30px;">4년 동안 지도해 주신 모든 교수님들께 감사드리며 CA의 지도 교수님이신 서한석 교수님, 김해윤 교수님, <br>김기수 교수님께도 잘 지도해 주셔서 감사하다는 말씀 전하고 싶습니다. 코로나라는 악조건 속에서도 <br>졸업작품 준비와 전시 준비를 잘 마쳐준 학생분들께 수고했다는 말을 전하고 싶고, 끝없는 응원과 지원을 <br>해 주신 부모님들께도 감사한 마음을 전합니다. 마지막으로 열심히 전시 준비에 임해준 졸업 전시 준비 <br>위원회 분들께 큰 감사를 표하며 제가 위원장으로써 잘 해낸 게 있다면 위원회 분들을 잘 선정한 게 아닐까 <br>싶습니다. 감사합니다.</p>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(e){
    document.body.style.overflowY="auto";
  });
</script>