<link rel="stylesheet" href="/public/stylesheets/participants.css">
<div id="MAIN_NAV">
  <img class="nav_span" onclick="location.href='/'" id="MAIN_NAV_IMG" src="/public/images/KakaoTalk_20210904_025027112.png" alt="">
  <div>
    <span class="nav_span" onclick="location.href='/about'">About</span>
    <span class="nav_span" onclick="location.href='/archive'">Archive</span>
    <span class="nav_span" onclick="location.href='/participants'">Participants</span>
    <span class="nav_span" onclick="location.href='/epilogue'">Epilogue</span>
    </div>
</div>
<!-- <img id="colors2" src="/public/images/colors-2.png" alt=""> -->
<div id="about_top_container">
  <div class="wrap">
    <div class="wave"></div>
    <div class="wave layer_1"></div>
    <div class='title'>
      <p>Participants</p>
      <p>Sustainable Designers</p>
      <p style="font-family: 'Noto Sans KR', sans-serif; font-size: 40px;">지속가능한 디자이너</p>
    </div>
  </div>
</div>
<div id="participants_container">
  <p></p>
  <div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/강대겸.webp" alt="">
        <img class="profile_img" src="/public/images/profile/강대겸흑백.webp" alt="">
      </div>
      <p class="participants_p1">Kang DaeKyum</p>
      <p class="participants_p2">강대겸</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/곽다정.webp" alt="">
        <img class="profile_img" src="/public/images/profile/곽다정흑백.webp" alt="">
      </div>
      <p class="participants_p1">Gwak Dajeong</p>
      <p class="participants_p2">곽다정</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/김동일.webp" alt="">
        <img class="profile_img" src="/public/images/profile/김동일흑백.webp" alt="">
      </div>
      <p class="participants_p1">Kim Dongil</p>
      <p class="participants_p2">김동일</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/김민주.webp" alt="">
        <img class="profile_img" src="/public/images/profile/김민주흑백.webp" alt="">
      </div>
      <p class="participants_p1">Kim Minju</p>
      <p class="participants_p2">김민주</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/김연재.webp" alt="">
        <img class="profile_img" src="/public/images/profile/김연재흑백.webp" alt="">
      </div>
      <p class="participants_p1">Kim YeonJae</p>
      <p class="participants_p2">김연재</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/김현지.webp" alt="">
        <img class="profile_img" src="/public/images/profile/김현지흑백.webp" alt="">
      </div>
      <p class="participants_p1">Kim Hyeonji</p>
      <p class="participants_p2">김현지</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/나타샤.webp" alt="">
        <img class="profile_img" src="/public/images/profile/나타샤흑백.webp" alt="">
      </div>
      <p class="participants_p1">Natasha</p>
      <p class="participants_p2">나타샤</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/남현희.webp" alt="">
        <img class="profile_img" src="/public/images/profile/남현희흑백.webp" alt="">
      </div>
      <p class="participants_p1">Nam Hyeonhee</p>
      <p class="participants_p2">남현희</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/박민준.webp" alt="">
        <img class="profile_img" src="/public/images/profile/박민준흑백.webp" alt="">
      </div>
      <p class="participants_p1">Park Minjun</p>
      <p class="participants_p2">박민준</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/박수환.webp" alt="">
        <img class="profile_img" src="/public/images/profile/박수환흑백.webp" alt="">
      </div>
      <p class="participants_p1">Park Soohwan</p>
      <p class="participants_p2">박수환</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/박지선.webp" alt="">
        <img class="profile_img" src="/public/images/profile/박지선흑백.webp" alt="">
      </div>
      <p class="participants_p1">Park ji sun</p>
      <p class="participants_p2">박지선</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/박찬웅.webp" alt="">
        <img class="profile_img" src="/public/images/profile/박찬웅흑백.webp" alt="">
      </div>
      <p class="participants_p1">Park Chanwoong</p>
      <p class="participants_p2">박찬웅</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/방은비.webp" alt="">
        <img class="profile_img" src="/public/images/profile/방은비흑백.webp" alt="">
      </div>
      <p class="participants_p1">Bang Eunbi</p>
      <p class="participants_p2">방은비</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/석지윤.webp" alt="">
        <img class="profile_img" src="/public/images/profile/석지윤흑백.webp" alt="">
      </div>
      <p class="participants_p1">Seok Jiyoon</p>
      <p class="participants_p2">석지윤</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/신해지.webp" alt="">
        <img class="profile_img" src="/public/images/profile/신해지흑백.webp" alt="">
      </div>
      <p class="participants_p1">Shin Haeji</p>
      <p class="participants_p2">신해지</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/윤서주.webp" alt="">
        <img class="profile_img" src="/public/images/profile/윤서주흑백.webp" alt="">
      </div>
      <p class="participants_p1">Yoon Seoju</p>
      <p class="participants_p2">윤서주</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/이나경.webp" alt="">
        <img class="profile_img" src="/public/images/profile/이나경흑백.webp" alt="">
      </div>
      <p class="participants_p1">Lee Nagyeong</p>
      <p class="participants_p2">이나경</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/이유림.webp" alt="">
        <img class="profile_img" src="/public/images/profile/이유림흑백.webp" alt="">
      </div>
      <p class="participants_p1">Lee Yu Lim</p>
      <p class="participants_p2">이유림</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/이지후.webp" alt="">
        <img class="profile_img" src="/public/images/profile/이지후흑백.webp" alt="">
      </div>
      <p class="participants_p1">Lee Jihu</p>
      <p class="participants_p2">이지후</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/이치수.webp" alt="">
        <img class="profile_img" src="/public/images/profile/이치수흑백.webp" alt="">
      </div>
      <p class="participants_p1">Lee Cheasoo</p>
      <p class="participants_p2">이치수</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/임가현.webp" alt="">
        <img class="profile_img" src="/public/images/profile/임가현흑백.webp" alt="">
      </div>
      <p class="participants_p1">Lim Gahyeon</p>
      <p class="participants_p2">임가현</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/전소희.webp" alt="">
        <img class="profile_img" src="/public/images/profile/전소희흑백.webp" alt="">
      </div>
      <p class="participants_p1">Jeon Sohee</p>
      <p class="participants_p2">전소희</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/정예진.webp" alt="">
        <img class="profile_img" src="/public/images/profile/정예진흑백.webp" alt="">
      </div>
      <p class="participants_p1">Jung Ye Jin</p>
      <p class="participants_p2">정예진</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/조재영.webp" alt="">
        <img class="profile_img" src="/public/images/profile/조재영흑백.webp" alt="">
      </div>
      <p class="participants_p1">Jo Jaeyeong</p>
      <p class="participants_p2">조재영</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/최수정.webp" alt="">
        <img class="profile_img" src="/public/images/profile/최수정흑백.webp" alt="">
      </div>
      <p class="participants_p1">Choi Su Jung</p>
      <p class="participants_p2">최수정</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/하수정.webp" alt="">
        <img class="profile_img" src="/public/images/profile/하수정흑백.webp" alt="">
      </div>
      <p class="participants_p1">Ha Soojung</p>
      <p class="participants_p2">하수정</p>
    </div>
    <div>
      <div>
        <img class="profile_img2" src="/public/images/profile/황채영.webp" alt="">
        <img class="profile_img" src="/public/images/profile/황채영흑백.webp" alt="">
      </div>
      <p class="participants_p1">Hwang Chaeyeong</p>
      <p class="participants_p2">황채영</p>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(e){
    document.body.style.overflowY="auto";
  });
</script>