#ep_container {
  position: relative;
  z-index: 999;
  width: 100%;
  height: auto;
  margin-top: 40vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
#ep_container div {
  width: 1400px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ep_container_box {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}
.ep_container_box1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.ep_container_box2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#ep_container div h2 {
  margin: 0;
  font-size: 30px;
  font-family: "Noto Sans KR", sans-serif;
  margin-bottom: 30px;
}

#ep_container div p {
  margin: 0;
  font-size: 16.5px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.6px;
}
